API_ID=22829298
API_HASH=b3c9a9050e62ac013c1a846dc3bb84cd
BOT_TOKEN=8742028270:AAECBC_WpEr9-gk0vgl1vaaN8oETmfMvXsk
MONGO_URI=mongodb+srv://HerokuManager:HerokuManager@cluster0.wjdsvwk.mongodb.net/?appName=Cluster0
MONGO_DB=HerokuManager
SESSION_NAME=HerokuManager
FORCE_SUB_CHANNELS=
FORCE_SUB_LINKS=
LOG_LEVEL=INFO
